@font-face{
    font-family: 'fb';
    src: url(../fonts/fb.ttf) format('truetype');
}
h1{
    text-align: center;
    color: #7f7f7f;
}
a{
    text-decoration: none;
    padding: 10px;
    color: #304D6F;
    font: Tahoma, Verdana, Sans-Serif, Arial;
}
div{
    margin-bottom: 80px;
}
footer{
    background-color: #7f7f7f;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    padding: 5px;
    font-family: 'Permanent Marker';
    font-variant: small-caps;
    text-align: center;
    color: #6651BA;
}